ncmpcpp
screenkey.json
QtProject.conf
gtk-2.0
configstore
ranger/history
dein
audacious
cava
chromium-flags.conf
clipit
coc
dconf
Dharkael
dunst
fcitx
fcitx5
fontconfig
goa-1.0
google-chrome
gtk-3.0
htop
ibus
jgmenu
keepassxc
leafpad
micro
mimeapps.list
mpd
mpv
newsboat
nitrogen
nvim
obs-studio
pamac
parcellite
picom.conf
procps
pulse
qt5ct
redshift.conf
skippy-xd
smplayer
straw-viewer
streamlink
Thunar
tint2
Trolltech.conf
user-dirs.dirs
user-dirs.locale
viewnior
volumeicon
xfce4
yay
flameshot
netease-cloud-music-gtk
netease-cloud-music
netease-music-tui
netease-musicbox
